#container {
    width: 1400px;
    margin: auto;
}


header {
    height: 180px;
    background-image: url("./img/img/pattern.png");
    background-color: rgb(39, 152, 228);
}

.logo {
    width: 20%;
    margin-top: 85px;
    margin-left: 10px;
}

h1 {
    font-size: 55px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    color: grey;
    padding-bottom: 25px;
}

.author {
    color: rgb(52, 155, 224);
}

.data {
    font-size: 20px;
}

.photo-description {
    font-size: 15px;
    margin-top: 0px;
}

