#container {
    width: 1400px;
    margin: auto;
}


header {
    height: 180px;
    background-image: url("./img/img/pattern.png");
    background-color: rgb(39, 152, 228);
}

.logo {
    width: 20%;
    margin-top: 85px;
    margin-left: 10px;
}

h1 {
    font-size: 55px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    color: grey;
    padding-bottom: 25px;
}

.author {
    color: rgb(52, 155, 224);
}

.data {
    font-size: 20px;
}

.photo-description {
    font-size: 15px;
    margin-top: 0px;
}

.paragraph {
    font-size: 25px;
}

.important {
    background-color: yellow;
}

table {
    font-size: 25px;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.column-1 {
    width: 25%;
}

.column-2 {
    width: 25%;
}

.column-3 {
    width: 50%;
}

thead {
    background-color: blue;
    color: white;
}

.even-row {
    margin: 0px;
    background-color: rgb(95, 189, 212);
}

.odd-row {
    margin: 0px;
    background-color: white;
}

.subtitle-2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    color: grey;
}

.link-1 {
    font-size: 30px;
    color: white;
    background-image: url("./img/img/monitor.jpg");
    background-repeat: no-repeat;
    height: 210px;
    width: auto;
    margin: 10px;
}

.link-2 {
    font-size: 30px;
    color: white;
    background-image: url("./img/img/graph.jpg");
    background-repeat: no-repeat;
    height: 210px;
    width: auto;
    margin: 10px;
}